@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400&display=swap');

/*used following link as template then adjusted to my game. Reference this in README.md, specifiy what's yours and what's not*/
/*How to Make a Quiz App using HTML CSS Javascript - Vanilla Javascript Project for Beginners Tutorial*/
/*https://www.youtube.com/watch?v=f4fB9Xg2JEY&list=FLoLMoJL7IfiYl8F3sN_CEqQ&index=10*/

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-image: url("../images/maps.jpg");
    background-size: auto;
    background-color: black;
    text-align: center;
}

/* headings, logo and text */

.heading {
    margin: 2.5rem auto;
    color: #E6ECF0;
}

h1 {
    text-align: center;
    font-size: 2.5rem;
}

span {
    text-align: center;
    font-size: 1.2rem;
    position: absolute;
    left: 20%;
    right: 20%;
    top: 12%;
    background: black;
}

h2 {
    font-size: 1.8rem;;
    margin-bottom: 2rem;
}

.logo {
    height: 160px;
    padding-right: 5px;
    vertical-align: middle;
    border-radius: 50%;
}

.choice-text {
    width: 100%;
}

/* game containers */

.game-area {
    background-color: #E6ECF0;
    border-radius: 6px;
    box-sizing: border-box;
    width: 85%;
    height: auto;
    max-width: 830px;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    /*centres game-area perfectly, tweak overlapping/hiding content (heading, maybe more stuff?)*/
    /*toggle this on/off and tweak above margins if necessary*/
    /* https://stackoverflow.com/questions/42121150/css-centering-with-transform */
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%,-50%);
}

.container {
    width: 85%;
    margin: auto;
    padding: 25px 0;
}

/*these are containers/buttons the answers will populate*/
.choice-container {
    background-color: rgb(255,210,0);
    display: flex;
    margin: 0 auto;
    margin-bottom: 1rem;
    width: 50%;
    border-radius: 6px;
    min-width: 30%;
    text-transform: uppercase;
    text-align: center;
    border: 1px solid;
}

.choice-container:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(187,148,133, 0.6);
    transform: scale(1.02);
    transform: transform 100ms;
}

.controls-area {
    width: 85%;
    margin: 0px auto;
    display: grid;
    justify-content: center;
}

.hide {
    display: none;
}

/* buttons */

.btn {
    width: 380px;
    height: 60px;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    margin: 0.8rem;
    text-align: center;
}

.btn:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(187,148,133, 0.6);
    transition: transform 150ms;
    transform: scale(1.03);
}

.btn[disabled]:hover {
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
}

.correct {
    background: linear-gradient(32deg, rgba(11, 223, 36) 0%, rgb(41, 232, 111) 100%);
}

.incorrect {
    background: linear-gradient(32deg, rgba(230, 29, 29, 1) 0%, rgb(224, 11, 11, 1) 100%);
}

/* style by BrainCodex, changed to suit my game*/
#highscore-btn:hover {
    background: linear-gradient(90deg, rgb(255, 247, 9) 0%, rgb(240, 221, 6) 100%);
    box-shadow: 0 0.4rem 1.4rem 0 rgba(255,255,0,0.5);
}

/* HUD */

#hud {
    display: flex;
    justify-content: space-between;
}

.hud-prefix {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.5rem;
    color: rgb(255,210,0);
    text-shadow: -1.5px 1px 1px rgb(0 19 120);
    text-align: center;
}

.hud-main-text {
    text-align: center;
}

#progressBar {
    width: 10rem;
    height: 1.5rem;
    border: 0.2rem solid rgb(11,223,36);
    margin-top: 2rem;
    border-radius: 50px;
    overflow: hidden;
}

#progressBarFull {
    height: 100%;
    background: rgb(11,223,36);
    width: 0%;
}

/* layout */

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.justify-center {
    justify-content: center;
}

/*contact list*/

.contact-list {
    list-style-type: none;
    display: flex;
    letter-spacing: 3.5rem;
    justify-content: center;
    /*need to clean up auto margin from lit-style/padding*/
}

.contact-list i {
    color: black;
    font-size: 2.5rem;
}

.contact-list i:hover {
    color: rgb(255,210,0);
    font-size: 2.5rem;
}

/*high scores*/

#highScoresList {
    list-style: none;
    margin-bottom: 4rem;
}

.high-score {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

/*end.html*/

#score, #finalScore {
    color: rgb(255,210,0);
    text-shadow: -1.5px 1px 1px rgb(0 19 120);
    font-weight: bold;
    letter-spacing: 0.5rem;
}

.end-form-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 30rem;
}

input {
    margin-bottom: 1rem;
    width: 20rem;
    padding: 1.5rem;
    font-size: 1.8rem;
    border: none;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(187,148,133, 0.6);
}

input::placeholder {
    color: #aaa;
}

#username {
    margin-bottom: 3rem;
    width: 100%;
    outline: none;
}